<mat-toolbar>
  <button
    mat-icon-button
    [matMenuTriggerFor] ="menu"
    aria-label="Example icon button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu
    #menu="matMenu">
    <!-- Private routes -->
    <div *ngIf="authService.isLoggedIn">
      <a mat-menu-item routerLink="dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-menu-item routerLink="products">
        <mat-icon>forest</mat-icon>
        <span>Products</span>
      </a>
      <a *ngIf="authService.isLoggedIn" mat-menu-item routerLink="cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </a>
      <a *ngIf="authService.isLoggedIn" mat-menu-item (click)="authService.SignOut">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </div>
    <!-- Non authenticated routes -->
    <div *ngIf="!authService.isLoggedIn">
      <a mat-menu-item routerLink="sign-in">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
      <a mat-menu-item routerLink="register-user">
        <mat-icon>face</mat-icon>
        <span>Sign-up</span>
      </a>
      <a mat-menu-item routerLink="forgot-password">
        <mat-icon>password</mat-icon>
        <span>Forgot Password</span>
      </a>
    </div>

  </mat-menu>
  <span class="spacer"></span>
  <img class="brand-logo" src="assets/brand-logo.svg" alt="brand Logo">
  <span>Bonsai Store App</span>
  <span class="spacer"></span>
  <button
    *ngIf="authService.isLoggedIn"
    class="button"
    mat-icon-button
    class="icon"
    aria-label="Shopping Cart Icon"
    routerLink="cart"
  >
    <mat-icon matBadge="{{ itemCount }}" matBadgeColor="warn"
      >shopping_cart
    </mat-icon>
  </button>
  <button
    *ngIf="authService.isLoggedIn"
    mat-icon-button
    title="Logout"
    class="icon"
    aria-label="Logout Button"
    routerLink="cart"
    (click)="authService.SignOut()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>